<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label for="{{ form.username.id_for_label }}">Имя:</label>
    {{ form.username }}
    <label for="{{ form.password.id_for_label }}">Пароль:</label>
    {{ form.password }}
    <button type="submit">Войти</button>
</form>
</body>
</html> -->

<!-- login UI -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Project</title>
</head>
<body>
    <div class="auth">

        <main class='login form'>
            <h2> Login </h2>
            <section>
                <form method='POST'>
                    {% csrf_token %}
                    <div class='login'>
        
                        <label for="{{ form.username.id_for_label }}">Username:</label>
                        {{ form.username }}
        
                        <label for="{{ form.password.id_for_label }}">Password:</label>
                        {{ form.password }}
        
                        <button type="submit">Login</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>

</html>