<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Shop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
{% if user.is_authenticated %}
<!--{% include 'shop/tickers/list.html' %}-->
<h1>Привет, {{ user.username }} ! Это мой магазин!</h1>
<a href="{% url 'logout' %}"><h4> Logout </h4></a>
<img src="{% static 'images/me.jpeg' %}" alt="Django">
{% else %}
<p>Вы не вошли на сайт</p>
<a href="{% url 'login' %}">Войти</a>
{% endif %}
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>